{% extends "base.html" %}

{% block styles %}
	{{ super () }}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/about.css') }}" />
	<title>About Dev Market</title>
{% endblock %}
	
{% block scripts %}
	{{ super() }}
	<script type="text/javascript" src="{{ url_for('static', filename='scripts/about.js') }}"></script>
{% endblock %}

{% block appcontent %}

	<header id="aboutheader">
		<br>
		<div class = "header1 container">
			<h1>About Us</h1>
			<p id = "aboutinfo">The Developer's Marketplace is the perfect place for clients and developers to work together seamlessly. This website utilzies a bidding system, where developers bid on posted requests and clients decide the working developer. Clients have the freedom to post any implementation requests they have,and developers are allowed to bid on whichever requests they wish. This system allows for flexible pricing and collaboration between developers and clients. Professionalism is enforced through active administrators, and blacklisting offensive users.</p>
			<p id = "register_login"> Get started today!</p>
			<br/>
			{% if not session.logged_in %}
				<a href="/register"><button class="btn btn-primary btn-lg">Register</button></a>
				<a href="/login"><button class="btn btn-primary btn-lg">Login</button></a>
			{% else %}
				<a href="/posting"><button class="btn btn-primary btn-lg">View All Postings</button></a>
				<a href="/profile"><button class="btn btn-primary btn-lg">My Profile</button></a>
			{% endif %}
		</div>
		
	</header>
	<br>
	<div style="text-align: center">
		<h1>Grand Website Statistics</h1>
		<br>
		<h4>Total number of registered users:</h4>
		<p>{{ all_users }}</p>
		<br>
		<h4>Total number of clients:</h4>
		<p>{{ all_clients }}</p>
		<br>
		<h4>Total number of developers:</h4>
		<p>{{ all_devs }}</p>
		<br>
		<h4>Client(s) with most projects:</h4>
		<br>
		<div class="container center-block">
			<div class="row text-center ">
				{% for user1 in best_client %}
				<div class="col">
					<div id="card-padding">
						<div class="card-block">
							<a href="/profile/{{ user1[4] }}" style="color:black"><h5 class="card-title">{{ user1[6] }} {{ user1[7] }}</h5></a>
							<p>Projects Finished: {{ user1[12] }}</p>
							<a href="/profile/{{ user1[4] }}" class="btn btn-primary">View Profile</a>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			<br>
			<br>
			<h4>Developer(s) making most money:</h4>
			<br>
			<div style="float:none" class="row text-center">
				{% for user2 in best_dev %}
				<div class="col">
					<div id="card-padding">
						<div class="card-block">
							<a href="/profile/{{ user2[4] }}" style="color:black"><h5 class="card-title">{{ user2[6] }} {{ user2[7] }}</h5></a>
							<p>Projects Finished: {{ user2[12] }}</p>
							<a href="/profile/{{ user2[4] }}" class="btn btn-primary">View Profile</a>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		<br>
	</div>
	<br>
	

{% endblock %}