{% extends "base.html" %}

{% block styles %}
	{{ super () }}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/compose.css') }}" />
{% endblock %}

{% block scripts %}
	{{ super() }}
	<script type="text/javascript" src="{{ url_for('static', filename='scripts/compose.js') }}"></script>
{% endblock %}

{% block appcontent %}
<br>
<h1 style="text-align: center">Submit a post</h1>
<div class="container">
	<div class="row">
		{% if session.role == 'c' %}
		<div class="container">
		<p>All bids will end in 7 days unless the client chooses a developer.</p>
		<p>If the client hasn't chosen a developer, the lowest bidder will recieve the project.</p>
		<p>Expired posts without any bidders will have a $10 charge.</p>
		<p>Minimum required amount to post is your starting price.</p>
		<br>
		  <form action="/compose" method="POST">
		    <div class="form-group row">
		      <label for="inputTitle3" class="col-sm-2 col-form-label">Title</label>
		      <div class="col-sm-10">
		        <input type="text" class="form-control" name="title" placeholder="Title" required>
		      </div>
		    </div>
		    <div class="form-group row">
		      <label for="inputDescription3" class="col-sm-2 col-form-label">Description</label>
		      <div class="col-sm-10">
		        <input type="text" class="form-control" name="description" placeholder="Description" required>
		      </div>
		    </div>
		    <div class="form-group row">
		      <label for="inlineFormInputGroup" class="col-sm-2 col-form-label">Start Price</label>
		      <div class="input-group col-sm-10">
		      	<div class="input-group-addon">$</div>
		        <input type="number" class="form-control" name="start_price" id="inlineFormInputGroup" placeholder="Starting Bid" required>
		      </div>
		    </div>
		    <div class="form-group row">
		      <label for="inputFile3" class="col-sm-2 col-form-label">Upload Files</label>
		      <div class="col-sm-10">
		        <input type="file" class="form-control" name="file" placeholder="Deadline">
		      </div>
		    </div>
		    <fieldset class="form-group row">
		      <legend class="col-form-legend col-sm-2">Project Deadline</legend>
		      <div class="col-sm-10">
		        <div class="form-check">
		          <label class="form-check-label">
		            <input class="form-check-input" type="radio" name="deadline" value="3" checked>
		            3 days
		          </label>
		        </div>
		        <div class="form-check">
		          <label class="form-check-label">
		            <input class="form-check-input" type="radio" name="deadline" value="5">
		            5 days
		          </label>
		        </div>
		        <div class="form-check">
		          <label class="form-check-label">
		            <input class="form-check-input" type="radio" name="deadline" value="15">
		            15 days
		          </label>
		        </div>
		        <div class="form-check">
		          <label class="form-check-label">
		            <input class="form-check-input" type="radio" name="deadline" value="30">
		            30 days
		          </label>
		        </div>
		      </div>
		    </fieldset>
		    <fieldset class="form-group row">
		      <legend class="col-form-legend col-sm-2">Visibility</legend>
		      <div class="col-sm-10">
		        <div class="form-check">
		          <label class="form-check-label">
		            <input class="form-check-input" type="radio" name="visibility" value="1" checked>
		            Make post visible to everyone.
		          </label>
		        </div>
		        <div class="form-check">
		          <label class="form-check-label">
		            <input class="form-check-input" type="radio" name="visibility" value="0">
		            Only registered users can see the post.
		          </label>
		        </div>
		      </div>
		    </fieldset>
		    <div class="form-group row">
		      <div class="offset-sm-5 col-sm-7">
		        <button type="submit" class="btn btn-primary">Submit</button>
		      </div>
		    </div>
		  </form>
		</div>
		{% if error %}
		<h3>An error occurred. You might not have enough balance to post. Please try again</h3>
		{% endif %}
		{% else %}
		<h3>You need to be a client to post.</h3>
		{% endif %}
	</div>
</div>

{% endblock %}