{% extends "base.html" %}

{% block styles %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/home.css') }}" />
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="{{ url_for('static', filename='scripts/home.js') }}"></script>
	<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> 
	<!-- stats.js lib -->
	<script src="https://threejs.org/examples/js/libs/stats.min.js"></script>
	<script src="https://vincentgarreau.com/particles.js/particles.js"></script>
{% endblock %}

{% block appcontent %}
<div>
	<div id="hero-background" class="animate">
		<div id="hero-text">
			<h1>ADSFADSFAD</h1>
			<p>Lorem ipsum. Blah Blah blah.</p>
			<br />
			<a href="/register"><button class="btn btn-default">Get Started</button></a>
		</div>
	</div>

	<div class="container">
		<div class="row text-center">
			<div id="entry" class="col col-md-4">
				<i class="large material-icons">insert_chart</i>
				<h1>DFAFAFADf</h1>
				<p>FADSFADFASDFASDFASDFADSFadFasDf df adsfa DSf asDF .asdf aSDF .asf.ASDF</p>
			</div>
			<div id="entry" class="col col-md-4">
				<i class="large material-icons">insert_chart</i>
				<h1>DFAFAFADf</h1>
				<p>FADSFADFASDFASDFASDFADSFadFasDf df adsfa DSf asDF .asdf aSDF .asf.ASDF</p>
			</div>
			<div id="entry" class="col col-md-4">
				<i class="large material-icons">insert_chart</i>
				<h1>DFAFAFADf</h1>
				<p>FADSFADFASDFASDFASDFADSFadFasDf df adsfa DSf asDF .asdf aSDF .asf.ASDF</p>
			</div>
		</div>

		<div class="row">
			<div class="col col-md-3">
				<h2>Some text</h2>
				<img class="img-thumbnail img-fluid" src="https://pbs.twimg.com/profile_images/676496806646272000/k2hLF7zz.jpg">
			</div>
			<div class="col col-md-9">
				<p>JUST GIVE US AN A PLEASE. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
			</div>
		</div>
	</div>
</div>

{% endblock %}