{% extends "base.html" %}

{% block styles %}
	{{ super () }}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/home.css') }}" />
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="{{ url_for('static', filename='scripts/home.js') }}"></script>
	<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> 
	<!-- stats.js lib -->
	<script src="https://threejs.org/examples/js/libs/stats.min.js"></script>
	<script src="https://vincentgarreau.com/particles.js/particles.js"></script>
{% endblock %}

{% block appcontent %}
<div>
	<div id="hero-background" class="animate">
		<div id="hero-text">
			<h1>Developer's Marketplace</h1>
			<p>A place where clients and developers work together.</p>
			<br />
			<a href="/register"><button class="btn btn-outline-success btn-lg">Get Started</button></a>
		</div>
	</div>

	<div class="container">
		<div class="row text-center">
			<div id="entry" class="col col-md-4">
				<i class="large material-icons">insert_chart</i>
				<h1>Sample Title</h1>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
			</div>
			<div id="entry" class="col col-md-4">
				<i class="large material-icons">insert_chart</i>
				<h1>Sample Title</h1>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
			</div>
			<div id="entry" class="col col-md-4">
				<i class="large material-icons">insert_chart</i>
				<h1>Sample Title</h1>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
			</div>
		</div>
	</div>

	<div id="fp-background-1">
		<div id="big-text-1">
			<div class="container">
				<h1>Are you a client or developer?</h1>
				<p>Clients can post while developers can bid on things.</p>
				<br />
				<a href="/register" class="btn btn-primary btn-lg">Client</a>
				<a href="/register" class="btn btn-primary btn-lg">Developer</a>
			</div>
		</div>
	</div>

	<div id="trending-section" class="container">
		<h1 class="text-center">Trending bids</h1>
		<div class="row text-center">
			<div class="col col-md-4">
				<div class="card">
					<div class="card-block">
						<h1 class="card-title">Sample Bid</h1>
						<p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
						<a href="#" class="btn btn-primary">Go here</a>
					</div>
				</div>
			</div>
			<div class="col col-md-4">
				<div class="card">
					<div class="card-block">
						<h1 class="card-title">Sample Bid</h1>
						<p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
						<a href="#" class="btn btn-primary">Go here</a>
					</div>
				</div>
			</div>
			<div class="col col-md-4">
				<div class="card">
					<div class="card-block">
						<h1 class="card-title">Sample Bid</h1>
						<p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
						<a href="#" class="btn btn-primary">Go here</a>
					</div>
				</div>
			</div>
		</div>
		<div class="text-center">
			<a href="#" class="btn btn-primary">View All Bids</a>
		</div>
	</div>
</div>

{% endblock %}