{% extends "base.html" %}

{% block styles %}
	{{ super () }}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/home.css') }}" />
{% endblock %}

{% block appcontent %}
<div>
	<div id="hero-background"></div>
	<div id="hero-text">
		<h1>Developer's Marketplace</h1>
		<p>A place where clients and developers work together.</p>
		<br />
		{% if not session.logged_in %}
		<a href="/register"><button class="btn btn-outline-success btn-lg">Get Started</button></a>
		{% else %}
		{% if session.role == 'a' %}
		<a href="/posting"><button class="btn btn-outline-success btn-lg">View All Postings</button></a>
		<a href="/admin"><button class="btn btn-outline-success btn-lg">Admin Page</button></a>
		{% else %}
		<a href="/posting"><button class="btn btn-outline-success btn-lg">View All Postings</button></a>
		<a href="/profile"><button class="btn btn-outline-success btn-lg">My Profile</button></a>
		{% endif %}
		{% endif %}
	</div>
	<script src='https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js'></script>
	<script src='https://threejs.org/examples/js/libs/stats.min.js'></script>
	<script type="text/javascript" src="{{ url_for('static', filename='scripts/home.js') }}"></script>

	<div id="text-after-hero" class="container">
		<div class="row text-center">
			<div id="entry" class="col col-md-4">
				<i class="large material-icons">insert_chart</i>
				<h1>Bidding</h1>
				<p>Developer's Marketplace features a bidding feature so as a client, you can get the best price from our pool of talented developers.</p>
			</div>
			<div id="entry" class="col col-md-4">
				<i class="large material-icons">local_atm</i>
				<h1>Earn Profits</h1>
				<p>As a developer, you can earn extra income with Developer's Marketplace. Promote yourself and become attractive to the clients.</p>
			</div>
			<div id="entry" class="col col-md-4">
				<i class="large material-icons">assignment_turned_in</i>
				<h1>Unbiased</h1>
				<p>Everyone, have equal opportunities to benefit from this application. Admins regulate the system so everyone has a high quality professional experience.</p>
			</div>
		</div>
	</div>

	<div id="fp-background-1">
		<div id="big-text-1">
			<div class="container">
				<h1>Are you a client or developer?</h1>
				<p>Clients can post while developers can bid on things.</p>
				<br />
				{% if session.logged_in %}
				{% if session.role == 'a' %}
				<a href="/admin" class="btn btn-primary btn-lg">Admin Dashboard</a>
				{% else %}
				<a href="/dashboard" class="btn btn-primary btn-lg">My Dashboard</a>
				{% endif %}
				{% else %}
				<a href="/register" class="btn btn-primary btn-lg">Client</a>
				<a href="/register" class="btn btn-primary btn-lg">Developer</a>
				{% endif %}
			</div>
		</div>
	</div>

	<div id="trending-section" class="container">
		<h1 class="text-center">Trending bids</h1>
		<p class="text-center">These are the current trending bids.</p>
		<div class="row text-center">
			{% for bid in bids %}
			<div class="col col-md-4">
				<div class="card">
					<div class="card-block">
						<h3 class="card-title">{{ bid[7] }}</h3>
						<p class="card-text">Start Price: ${{ bid[2] }}</p>
						<a href="/posting/{{ bid[0] }}" class="btn btn-primary">Visit Posting</a>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
		<br>
		<div class="text-center">
			<a href="/posting" class="btn btn-primary">View All Bids</a>
		</div>
		<hr>
	</div>

	<div id="trending-section" class="container">
		<h1 class="text-center">Top 3 Clients</h1>
		<p class="text-center">These are the most high rated clients with the most posts completed.</p>
		<div class="row text-center">
			{% for client in clients %}
			<div class="col col-md-4">
				<div class="card">
					<div class="card-block">
						<h3 class="card-title">{{ client[6] }} {{ client[7] }}</h3>
						<p class="card-text">Description: {{ client[10] }}</p>
						<a href="/profile/{{ client[4] }}" class="btn btn-primary">Visit Profile</a>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
		<hr>
	</div>

	<div id="trending-section" class="container">
		<h1 class="text-center">Top 3 Developers</h1>
		<p class="text-center">These are the most high rated developers with the most projects completed</p>
		<div class="row text-center">
			{% for dev in devs %}
			<div class="col col-md-4">
				<div class="card">
					<div class="card-block">
						<h3 class="card-title">{{ dev[6] }} {{ dev[7] }}</h3>
						<p class="card-text">Description: {{ dev[10] }}</p>
						<a href="/profile/{{ dev[4] }}" class="btn btn-primary">Visit Profile</a>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
		<hr>
	</div>
</div>

{% endblock %}