{% extends "base.html" %}

{% block styles %}
	{{ super () }}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/login.css') }}" />
{% endblock %}

{% block scripts %}
	{{ super() }}
	<script type="text/javascript" src="{{ url_for('static', filename='scripts/login.js') }}"></script>
{% endblock %}

{% block appcontent %}
<div class="container">
	<h1>Login</h1>
	<form action="/login" method="POST">
		<ul class="form">
			<li>
				<label>Username <span class="required">*</span></label>
				<input type="text" name="username" class="field-long"/>
			</li>
			<li>
				<label>Password <span class="required">*</span></label>
				<input type="password" name="password" class="field-long"/>
			</li>
			<li>
				<input type="submit" name="login" value="Login" />
			</li>
		</ul>
	</form>
	{% if error %}
	<p>
		Error: Wrong username/password or account does not exist!
	</p>
	{% endif %}
</div>
	

{% endblock %}