{% extends "base.html" %}

{% block styles %}
	{{ super () }}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/postings.css') }}" />
{% endblock %}

{% block scripts %}
	{{ super() }}
	<script type="text/javascript" src="{{ url_for('static', filename='scripts/postings.js') }}"></script>
{% endblock %}

{% block appcontent %}
<div class="container">
	<br>
	<h1>All Ongoing Bids</h1>
	<br>
	<div class="row">
		<div class="container">
			<div class="row text-center">
				<div class="col col-md-4">
					<div id="card-padding" class="card">
						<div class="card-block">
							<h3 class="card-title">New Database for Website</h3>
							<p class="card-text">I need a database for my website. Attached file has more description of the project</p>
							<p>Starting bid: $30</p>
							<p>Deadline: 11/24/2017</p>
							<p>Created by: Maurice Harold</p>
							<a href="#" class="btn btn-primary">View Posting</a>
						</div>
					</div>
				</div>
				<div class="col col-md-4">
					<div id="card-padding" class="card">
						<div class="card-block">
							<h3 class="card-title">Help with BASIC development</h3>
							<p class="card-text">My project needs a BASIC compoenent and I don't have much knowledge with BASIC.</p>
							<p>Starting bid: $20</p>
							<p>Deadline: 12/01/2017</p>
							<p>Created by: Jim Hopper</p>
							<a href="#" class="btn btn-primary">View Posting</a>
						</div>
					</div>
				</div>
				<div class="col col-md-4">
					<div id="card-padding" class="card">
						<div class="card-block">
							<h3 class="card-title">Homework Problem HELP!!!</h3>
							<p class="card-text">Please help me with my Algorithms Homework</p>
							<p>Starting bid: $5</p>
							<p>Deadline: 11/30/2017</p>
							<p>Created by: Anonymous User</p>
							<a href="#" class="btn btn-primary">View Posting</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}