{% extends "base.html" %}

{% block styles %}
    {{ super () }}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/profile.css') }}" />
{% endblock %}

{% block scripts %}
	{{ super() }}
	<script type="text/javascript" src="{{ url_for('static', filename='scripts/profile.js') }}"></script>
{% endblock %}

{% block appcontent %}
<div class="container">
	<br>
	<h1 style="text-align: center">Profile</h1>
	<h2 style="text-align: center">{{first_name}} {{last_name}}</h2>
	{% if role == 'Admin' %}
	<p style="text-align: center">This user is an {{role}}</p>
	{% else %}
	{% if confirmed %}
	<p style="text-align: center">This user is confirmed as a {{role}}</p>
	{% else %}
	<p style="text-align: center">This user is not confirmed as a {{role}}</p>
	{% endif %}
	{% endif %}

	<h5>Description: {{description}}</h5>
	<h5>Interest: {{interest}}</h5>
	<h5>Sample Work: {{sample_work}}</h5>
	
	<div class="row">
		<div class="col col-md-5">
			<img id="picture" src="http://i0.kym-cdn.com/photos/images/facebook/000/839/199/8a9.jpg">
		</div>
		<div class="col col-md-7">
			<h2>User Summary</h2>
			<p>Current Projects: 0</p>
			<p>Ongoing bids: 0</p>
			<p>Completed Projects: 0</p>
			<p>Rating: {{rating}}</p>
			<p>Warnings: {{warning}}</p>
		</div>
	</div>
	<br>

	<div>
		<h3>Active Bids</h3>
		<hr>
		<p>Notice: This user doesn't have any ongoing bids!</p>
		<br>
	</div>
	<div>
		<h3>Current Projects</h3>
		<hr>
		<p>Notice: This user doesn't  have any projects!</p>
		<br>
	</div>
	<div>
		<h3>History</h3>
		<hr>
		<p>Notice: This user doesn't  have any history!</p>
		<br>
	</div>
</div>

{% endblock %}