{% extends "base.html" %}

{% block styles %}
	{{ super () }}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/project.css') }}" />
{% endblock %}

{% block scripts %}
	{{ super() }}
	<script type="text/javascript" src="{{ url_for('static', filename='scripts/project.js') }}"></script>
{% endblock %}

{% block appcontent %}
<div class="container">
	<h1>Project Information</h1>
	<h2>Title: {{ post[7] }}</h2>
	<h3>Author: <a href="/profile/{{ post[12] }}">{{ post[13] }} {{ post[14] }}</h3></a>
	<h4>Description</h4>
	<p>{{ post[1] }}</p>
	<h5>Project Days: {{ post[10] }} days</h5>
	<h5>Project Price: ${{ project[2] }}</h5>
	<h5>Status: {{ project[1] }}</h5>
	<hr>
	<div class="row">
		<div class="col-sm-4">
		<h3>Developer:</h3>
		<a href="/profile/{{ project[10] }}"><h4>{{ project[11] }} {{ project[12] }}</h4></a>
		</div>
		<div class="col-sm-8">
			<h3>Developer Submission</h3>
			<h4>Text submission</h4>
			{% if project[7] %}
			<p>{{ project[7] }}</p>
			{% else %}
			<p>Developer did not submit a text submission</p>
			{% endif %}
			<h4>File submission</h4>
			{% if project[8] %}
			<a href="{{ project[8] }}" download>Download</a>
			{% else %}
			<p>Developer did not submit a file submission</p>
			{% endif %}
		</div>
	</div>
	<hr>
	{% if session.logged_in %}

	{% if session.username == post[12] %}
	{% if project[1] == 'Ongoing' %}
	<h3>Actions:</h3>
	<a href="/project/{{ post[0] }}/terminate" class="btn btn-primary">Terminate Project</a>
	{% else %}
	<a href="" class="btn btn-primary">Submit Review to Developer</a>
	{% endif %}
	{% endif %}


	{% if (session.role == 'd') and (session.username == project[10]) %}
	<h3>Actions:</h3>
	{% if project[1] == 'Ongoing' %}
	<a href="/project/{{ post[0] }}/submit" class="btn btn-primary">Make a Submission</a>
	{% else %}
	<a href="" class="btn btn-primary">Submit Review to Client</a>
	{% endif %}
	{% endif %}



	{% endif %}
</div>

{% endblock %}