{% extends "base.html" %}

{% block styles %}
	{{ super () }}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/register.css') }}" />
{% endblock %}

{% block scripts %}
	{{ super() }}
	<script type="text/javascript" src="{{ url_for('static', filename='scripts/register.js') }}"></script>
{% endblock %}

{% block appcontent %}
<div class="container">
	<br>
	<h1 style="text-align: center">Register</h1>
	<form action="/register" method="POST">
		<ul class="form">
			<li>
		        <label>First Name <span class="required">*</span></label>
		        <input type="text" name="first_name" class="field-long" required/>
		    </li>
		    <li>
		        <label>Last Name <span class="required">*</span></label>
		        <input type="text" name="last_name" class="field-long" required/>
		    </li>
			<li>
		        <label>Username <span class="required">*</span></label>
		        <input type="text" name="username" class="field-long" required/>
		    </li>
		    <li>
		        <label>Password <span class="required">*</span></label>
		        <input type="password" name="password" class="field-long" required/>
		    </li>
		    <li>
		        <label>Confirm Password <span class="required">*</span></label>
		        <input type="password" name="confirm-password" class="field-long" required/>
		    </li>
		    <li>
		        <label>Email <span class="required">*</span></label>
		        <input type="text" name="email" class="field-long" required/>
		    </li>
	    	<label><input type="radio" name="role" value="c" required> I am a client.</label>
			<label><input type="radio" name="role" value="d" required> I am a developer.</label>
		    <li>
		        <input type="submit" name="Submit" />
		    </li>
		</ul>
	</form>
	<br>
	{% if password %}
	<div>
		<h4>Passwords are not the same!</h4>
	</div>
	{% endif %}
	{% if success %}
	<div>
		<h4>You successfully created an account! You can now sign in.</h4>
	</div>
	{% elif user %}
	<div>
		<h4>Username/email already exists! Please try again.</h4>
	</div>
	{% else %}
	{% endif %}
</div>

{% endblock %}