#aboutheader {
  background: 
    linear-gradient(
      rgba(0, 0, 0, .4),
      rgba(0, 0, 0, .4)
    ),
    url(https://i.imgur.com/zeIdmzK.jpg);
    background-size: cover;
  	height: 850px;
}

.header1{
	position:absolute;
	top:13vh;
	transform:(-50%, -50%);
	color:white;
	text-align: center;
}

#register_login{
	margin: auto;
	padding-top: 30px;
	padding-left: 20%;
	padding-right: 20%;
	font-size:24px;
}

h1{
  	font-size: 60px;
}


#aboutinfo{
	margin: auto;
	padding-top: 30px;
	padding-left: 20%;
	padding-right: 20%;
	font-size:24px;
}

#aboutlogin{
	margin-left: 30px;
}

@media screen and (max-width: 993px) {
    h1{
	  	font-size: 40px;
	}
	.header1{
		position:relative;
		top:13vh;
		transform:(0%, 0%);
		color:white;
		text-align: center;
	}

	#register_login{
		margin: auto;
		padding-top: 30px;
		font-size:23px;
		padding-left: 00%;
		padding-right: 00%;
	}

	#aboutinfo{
		margin: auto;
		padding-top: 20px;
		font-size:20px;
		padding-left: 00%;
		padding-right: 00%;
	}

	#aboutlogin{
		margin-left: 0px;
	}
}

@media screen and (max-width: 655px) {
    h1{
	  	font-size: 40px;
	}
	.header1{
		position:absolute;
		top:13vh;
		transform:(-50%, -50%);
		color:white;
		text-align: center;
	}

	#register_login{
		margin: auto;
		padding-top: 30px;
		font-size:21px;
		padding-left: 00%;
		padding-right: 00%;
	}

	#aboutinfo{
		margin: auto;
		padding-top: 20px;
		font-size:20px;
		padding-left: 00%;
		padding-right: 00%;
	}

	#aboutlogin{
		margin-left: 0px;
	}
}


@media screen and (max-width: 528px) {
    h1{
	  	font-size: 40px;
	}
	.header1{
		position:absolute;
		top:10vh;
		color:white;
		text-align: center;
	}

	#register_login{
		margin: auto;
		padding-top: 20px;
		font-size:21px;
	}

	#aboutinfo{
		margin: auto;
		padding-top: 10px;
		font-size:20px;
	}

	#aboutlogin{
		margin-left: 0px;
	}
}